# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Ignorar arquivos e pastas do sistema
.android/
.dotnet/
.expo/
.ftb/
.nuget/
.packettracer/
.pencil/
.templateengine/
.wdm/
AppData/
Application Data/
Desktop/
Documents/
Favorites/
Links/
Music/
Pictures/
Videos/
OneDrive/
NTUSER.DAT*
*.ldf
*.mdf
*.zip
*.asta
*.ini

# Ignorar pastas específicas do projeto
../../../../../../source/
../../../../../../Downloads/
../../../../../../Saved Games/
../../../../../../MarceloHenri250.github.io/
../../../../../../curseforge/
../../../../../../My Games/
../../../../../../My Web Sites/
../../../../../../Visual Studio 2022/
../../../../../../WB Games/
../../../../../../Square Enix/
../../../../../../PCSX2/

# Ignorar arquivos temporários e de backup
*.log
*.tmp
